language: python
python:
  - 3.7
before_install:
  - python --version
  - pip install -U pip
  - pip install -U pytest
  - pip install codecov
  - pip install build wheel
  - pip install -r e2eAIOK/DeNas/requirements.txt
install:
  - python setup.py sdist && pip install dist/e2eAIOK-*.*.*.tar.gz
script: pytest tests/unittest
after_success:
  - codecov