torch==1.12.1 -f https://download.pytorch.org/whl/cpu
torchvision==0.13.1 -f https://download.pytorch.org/whl/cpu
torchaudio==0.12.1 -f https://download.pytorch.org/whl/cpu
scikit-learn
torchsummary
easydict
tensorboard
timm
nnunet
transformers
thop
wandb
# tllib@git+https://github.com/thuml/Transfer-Learning-Library@master # comment this for tllib official release
intel_extension_for_pytorch==1.12.100 -f https://developer.intel.com/ipex-whl-stable    
