scikit-learn
psutil
tqdm
pyyaml
pandas
numpy
pyarrow
pandas_flavor
featuretools
bokeh>=2.4.2
transformers
ipywidgets
shapely
graphviz
requests
distro
pyspark==3.4.0
ray==2.7.1
lightgbm<4.0.0
matplotlib
category_encoders
seaborn
numba
missingno
datasets>=2.7.0
wget==3.2
ftfy==6.1.1