include pyrecdp/ScalaProcessUtils/target/*.jar
include pyrecdp/ScalaProcessUtils/spark-env.sh
include pyrecdp/ScalaProcessUtils/spark-defaults.conf
include pyrecdp/widgets/templates/*.html
include pyrecdp/promptsource/**/*.yaml
graft pyrecdp/primitives/llmutils/bad_words_lists
include pyrecdp/**/requirements.txt
include version
