name: Integration Test Workload DLRM

on:
  pull_request:
    branches:
    - main
    paths:
    - '.github/workflows/integration_test_workload_dlrm.yml'
    - 'conf/e2eaiok_defaults_dlrm_example.conf'
    - 'demo/builtin/dlrm/**'
    - 'Dockerfile-ubuntu18.04/DockerfilePytorch'
    - 'e2eAIOK/SDA/**'
    - 'e2eAIOK/common/**'
    - 'e2eAIOK/dataloader/**'
    - 'e2eAIOK/utils/**'
    - 'modelzoo/dlrm/**'
    - 'tests/cicd/conf/**'
    - 'tests/cicd/src/**'
    - 'tests/cicd/test_*.bats'
    - 'tests/cicd/Jenkinsfile*'
    - 'tests/cicd/jenkins_dlrm_test*.sh'

jobs:
  integration_test:
    name: Integration Test Workload DLRM
    runs-on: xeon8170
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: Build Docker
      run: |
        cd Dockerfile-ubuntu18.04 && docker build -t e2eaiok-pytorch . -f DockerfilePytorch && cd .. && yes | docker container prune && yes | docker image prune

    - name: Test DLRM
      run: |
        if [[ $(docker ps -q --filter "name=test-workload-dlrm" | wc -l) -ne 0 ]]; then docker ps -q --filter "name=test-workload-dlrm" | grep -q . && docker stop $(docker ps -a -q) && docker rm $(docker ps -a -q); fi
        cd modelzoo/dlrm && bash patch_dlrm.sh && cd ../..
        docker run --rm --name test-workload-dlrm --privileged --network host --device=/dev/dri -v /mnt/DP_disk1/dataset:/home/vmagent/app/dataset -v `pwd`:/home/vmagent/app/e2eaiok -w /home/vmagent/app/ e2eaiok-pytorch /bin/bash -c "USE_SIGOPT=0 . /home/vmagent/app/e2eaiok/tests/cicd/jenkins_dlrm_test.sh"